# Optimistic Provide - Status Quo

In [1]:
import sqlalchemy
%load_ext sql

sqlalchemy.create_engine('postgresql://optprov:password@localhost:5432/optprov')

Engine(postgresql://optprov:***@localhost:5432/optprov)

In [2]:
%sql postgresql://optprov:password@localhost:5432/optprov

In [3]:
%%sql

SELECT * FROM dials limit 10;

 * postgresql://optprov:***@localhost:5432/optprov
10 rows affected.

[(1, 1, 6, 'tcp', 1, datetime.datetime(2022, 3, 24, 11, 13, 12, 571784, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 572229, tzinfo=datetime.timezone.utc), 'dial tcp4 127.0.0.1:33850: connect: connection refused'),
 (2, 1, 175, 'tcp', 2, datetime.datetime(2022, 3, 24, 11, 13, 12, 587925, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 588322, tzinfo=datetime.timezone.utc), 'dial tcp4 127.0.0.1:30007: connect: connection refused'),
 (3, 1, 176, 'tcp', 3, datetime.datetime(2022, 3, 24, 11, 13, 12, 663890, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 664651, tzinfo=datetime.timezone.utc), 'dial tcp4 127.0.0.1:4001: connect: connection refused'),
 (4, 1, 176, 'tcp', 4, datetime.datetime(2022, 3, 24, 11, 13, 12, 664250, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 664674, tzinfo=datetime.timezone.utc), 'dial tcp6 [::1]:4001: connect: connection refused'),
 (5, 1, 175, 'quic', 5, datetime.datetime(2022, 3, 24, 11, 13, 12, 588117, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 693975, tzinfo=datetime.timezone.utc), None),
 (6, 1, 175, 'tcp', 6, datetime.datetime(2022, 3, 24, 11, 13, 12, 587468, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 694395, tzinfo=datetime.timezone.utc), 'failed to negotiate security protocol: context canceled'),
 (7, 1, 175, 'tcp', 7, datetime.datetime(2022, 3, 24, 11, 13, 12, 588032, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 694403, tzinfo=datetime.timezone.utc), 'dial tcp4 0.0.0.0:40197->172.31.14.243:30007: operation was canceled'),
 (8, 1, 175, 'quic', 8, datetime.datetime(2022, 3, 24, 11, 13, 12, 587485, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 694445, tzinfo=datetime.timezone.utc), 'context canceled'),
 (9, 1, 175, 'quic', 9, datetime.datetime(2022, 3, 24, 11, 13, 12, 587620, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 694486, tzinfo=datetime.timezone.utc), 'context canceled'),
 (10, 1, 177, 'tcp', 10, datetime.datetime(2022, 3, 24, 11, 13, 12, 723438, tzinfo=datetime.timezone.utc), datetime.datetime(2022, 3, 24, 11, 13, 12, 723851, tzinfo=datetime.timezone.utc), 'dial tcp4 127.0.0.1:42514: connect: connection refused')]